.bubbles {
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  
  .bubble {
    position: absolute;
    bottom: -10%; 
    border-radius: 50%;
    background: #00E0FF;
    opacity: 0.7;
    animation: rise var(--time) linear infinite;
    animation-delay: var(--delay);
    width: var(--size);
    height: var(--size);
    left: var(--position);
    z-index: 100;
  }
  
  @keyframes rise {
    0% {
      transform: translateY(0);
      opacity: 0.7;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .footer {

    color: white; 
    text-align: center;

  }
  


  .info {
    background-color: #00E0FF;
    margin: 0;
    padding: 1rem 0;
  }