/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
  --black: #0d0d0d;
  --dark: #181820;
  --text: #5c636a;
  --gray: #21212b;
  --text-active: #e3e3e3;
  --closed-width: 5.5rem;
} */
