/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
  --black: #0d0d0d;
  --dark: #181820;
  --text: #5c636a;
  --gray: #21212b;
  --text-active: #e3e3e3;
  --closed-width: 5.5rem;
} */
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}









/* styles/globals.css */
pre {
  background-color: #97f3fff7; /* Light blue background */
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* For horizontal scrolling */
}

code {

  color: #000000;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}



