/* navbar.module.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #00E0FF; /* Light background color */
  color: #333333; /* Dark text color */
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 18px;
}

.navbar.dark {
  background-color: #00E0FF; /* Dark background color */
  color: #fff; /* Light text color */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.searchForm {
  flex: 1;
  margin: 0 1rem;

}

.searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
  
}

.searchInput {
  width: 50%;
  padding: 0.5rem 2rem 0.5rem 1rem; /* Add padding for the search input */
  border: 1px solid #ccc; /* Light border color */
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 20px;
}

.searchInput:focus {
  border-color: #ffa600; /* Border color on focus */
}

.searchIcon {
  position: absolute;
  left: 1px;
  color: #000000; /* Icon color */
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: inherit; /* Use current text color */
  transition: color 0.3s ease;
}

.icon:hover {
  color: #f39a00; /* Change color on hover */
}

.toggleButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
}

.toggleButton.lightButton {
  color: #000; /* Light mode button color */
}

.toggleButton.darkButton {
  color: #fff; /* Dark mode button color */
}

/* Optional: Add styles for dark mode in the body */
.dark {
  background-color: #121212; /* Dark background for the body */
  color: #ffffff; /* Light text color for the body */
}
